# Configurações do Azure Storage Account
STORAGE_ACCOUNT_NAME=stterraformstate
CONTAINER_NAME=bronze

# Conexão com o Azure Event Hubs (Mensageria)
# Substitua pelo valor real copiado do portal da Azure
EH_CONNECTION_STRING=Endpoint=sb://eh-alfabetizacao.servicebus.windows.net/;SharedAccessKeyName=key;SharedAccessKey=secret=;EntityPath=evh-indicadores

# Parâmetros de Execução do Script
TABLE_NAME=batch_indicadores