# ==========================================
# AUTENTICAÇÃO AZURE (OPCIONAL)
# ==========================================
AZURE_CLIENT_ID=seu_client_id_aqui
AZURE_CLIENT_SECRET=seu_client_secret_aqui
AZURE_TENANT_ID=seu_tenant_id_aqui
AZURE_SUBSCRIPTION_ID=sua_subscription_id_aqui

# ==========================================
# STORAGE ACCOUNT E CONEXÃO
# ==========================================
STORAGE_ACCOUNT_NAME=stterraformstate
AZURE_STORAGE_ACCOUNT_NAME=nome_do_seu_storage_account
AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net"

# ==========================================
# PIPELINE BATCH / SIMULAÇÃO LOCAL DE STREAMING
# ==========================================
TABLE_NAME=alfabetizacao
AMBIENTE=desenvolvimento

# ==========================================
# NOTEBOOKS / AZURE KEY VAULT
# ==========================================
KEY_VAULT_URL=https://seu-key-vault.vault.azure.net/
KEY_VAULT_SECRET_NAME=storage-account-key